<html>

<head>
  <title>Student Data</title>
  <% include ../partials/head %>
</head>

<body>

  <header>
    <% include ../partials/header %>
  </header>
  
  <center>
    <hr>
    <h1> Registered successfuly</h1>
    <hr>
    <h2> Data Student </h2>
    <h3> Name: <%= data.name %> </h3>
    <h3> Gender: <%= data.gender %> </h3>
    <h3> Birthday Date: <%= data.date %> - <%= data.month %> - <%= data.year %> </h3>
  </center>

  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

</body>

</html>
